/*basic body style*/
body {
  font-family: "Dosis", "Segoe UI", Arial, sans-serif;
  font-weight: 100;
  color: black;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
}
/*creating columns/ and clear columns*/
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 0 auto;
}
.column {
  float: left;
  height: 1200px;
}
/*Top outline style*/
header {
  z-index: 1;
  width: 100%;
  height: 30px;
  background-color: #02182b;
  align-content: center;
}
/*navigation bar style*/
.nav {
  float: left;
  width: 20%;
  background-color: #c5afa0;
  color: white;
}
/*style for links*/
a:link {
  text-decoration: none;
}
/*change cursor and background color when mouse hovers*/
h2 a:hover {
  background-color: #557a95;
  cursor: pointer;
}
/*navigation menu list item style*/
.nav a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #02182b;
  display: block;
  text-align: center;
}
/*navigation active page style*/
.nav a.active {
  color: #750a1c;
}
/*navigation hover style*/
.nav a:hover {
  background-color: #557a95;
  color: white;
  border-radius: 5px;
  margin: 0px 15px;
  cursor: pointer;
}
/*outline column style*/
.heading {
  width: 1%;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
  background-color: #02182b;
  align-content: center;
}

/*right body column style*/
.about {
  float: left;
  width: 77%;
  background-color: #750a1c;
}
/*heading and text style*/
h1 {
  font-weight: 400;
  color: white;
  text-shadow: 2px 2px #02182b;
}

h2 {
  font-weight: 300;
  color: #02182b;
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 25px 15px;
}
h3 {
  font-weight: 200;
  background-color: #557a95;
  color: white;
  text-align: center;
  padding: 5px 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}
p {
  padding: 15px;
  text-align: left;
}
ul {
  list-style-type: none;
  list-style-position: outside;
}
li {
  margin: 15px;
  padding: 5px;
}
/*standard sections style*/
.standard {
  margin-bottom: 35px;
  margin-top: 15px;
}
/*bottom right box style*/
.text {
  text-align: left;
  font-weight: 300;
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 25px 15px;
  column-count: 2;
  column-fill: auto;
  height: 650px;
}
/*example box style*/
#exampleBox {
  text-align: left;
  font-weight: 300;
  background-color: white;
  border: 5px;
  border-radius: 5px;
  border-color: #557a95;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px 5px;
  margin: 15px 15px;
}
/*button style*/
button {
  background-color: #02182b;
  width: 150px;
  font-weight: 300;
  font-size: 16px;
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 2px 2px;
  margin: 5px;
}
/*button hover style*/
.button:hover {
  background-color: #557a95;
  cursor: pointer;
}
/*footer style*/
footer {
  color: white;
  height: 30px;
  z-index: 1;
  clear: both;
  width: 100%;
  background-color: #02182b;
  align-content: center;
}
